.home-container {
  font-size: 50px;
  padding-bottom: 1rem;
  .header{
    position: relative;
    width: 100%;
    height: 1.28rem;
    .background{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1.28rem;
    }
    .header-left{
      float: left;
      position: relative;
      margin-left: .31rem;
      font-size: .34rem;
      color: #ffffff;
      z-index: 2;
      margin-top: .68rem;
      span{
        font-size: .34rem;
      }
      img{
        height: .24rem;
        width: .31rem;
      }
    }
    .header-right{
      float: right;
      margin-right: .3rem;
      display: flex;
      position: relative;
      margin-top: .68rem;
      img:nth-child(1){
        width: .34rem;
        height: .4rem;
        margin-right: .57rem;
      }
      img:nth-child(2){
        width: .28rem;
        height: .39rem;
      }
    }
  }
  .add-equipment{
    padding: 0 .32rem;
    background-color: #eeeeee;
    .add-equipment-top{
      height: .72rem;
      width: 100%;
      span{
        line-height: .72rem;
        font-size: .3rem;
        color: #333;
        float: left;
        display: block;
      }
      img{
        width: .34rem;
        float: right;
        margin-top: .18rem;
      }
    }
    .add-equipment-bottom {
     display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .equipment {
        position: relative;
        width: 2.95rem;
        height: 2.4rem;
        box-shadow:0 .03rem .06rem 0 rgba(0,14,31,0.1);
        border-radius:20px;
        background-color: #fff;
        padding-left: .35rem;
        margin-bottom: .31rem;
        p {
          font-size: .26rem;
          line-height: .36rem;
          color: #333333;
        }
        div {
          img:nth-child(1) {
            height: 1.4rem;
            width: 1.4rem;
          }
          img:nth-child(2) {
            position: absolute;
            right: .42rem;
            bottom: .48rem;
            height: .54rem;
            width: .51rem;
          }
        }
      }
    }
  }
  .controls{
    padding: 0 .32rem;
    .control-top{
      height: .72rem;
      width: 100%;
      span{
        line-height: .72rem;
        font-size: .3rem;
        color: #333;
        float: left;
        display: block;
      }
      img{
        width: .34rem;
        float: right;
        margin-top: .18rem;
      }
    }
    .control{
      position: relative;
      box-shadow:0 1px 6px 0 rgba(0,14,31,0.15);
      border-radius:20px;
      height: 1.45rem;
      padding-top: .15rem;
      padding-left: .34rem;
      margin-bottom: .2rem;
      color: #333333;
      font-weight: 400;
      overflow: hidden;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
      }
      p:nth-child(2){
        position: relative;
        font-size: .28rem;
        line-height: .26rem;
        z-index: 3;
      }
      p:nth-child(3){
        position: relative;
        font-size: .26rem;
        line-height: .26rem;
        z-index: 3;
      }
      .switch{
       position: absolute;
        top: .58rem;
        right: .39rem;
      }
    }
    .select-control.control{
      color: white;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

}
